:root {
  --color-primary: #6C38CC;
  --color-primary-hover: #541fb8;
  --color-text: #FAFAFA;
  --color-link-hover: #AFB2BF;
  --color-bg: #16171D;
  --color-bg-medium: #1E1F29;
  --color-bg-light: #2E2D3D;
  --color-stroke: #4D5064;
  --color-bg-gradient-text: #FFFFFF;
  --color-gradient-text: linear-gradient(95deg, #D77BE5 9%, #BE63E5 42%, #6C38CC 104%); 
  --border-8: 8px;
  --border-10: 10px;
  --layout-width: 1172px;
  
}

body {
  background: var(--color-bg);
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}